*.class
Mini.tokens
MiniBaseListener.java
MiniBaseVisitor.java
MiniLexer.java
MiniLexer.tokens
MiniListener.java
MiniParser.java
MiniVisitor.java
antlr.generated
antlr-4.7.1-complete.jar
Mini.interp
MiniLexer.interp
